body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 16px 0;
}

header {
  background-color: #61787F;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

header img {
  max-width: 127px;
  width: 100%;
  height: auto;
}

header h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0;
  display: none;
}

h2 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  color: black;
  margin: 24px 0;
}

#best-movie {
  width: 100%;
  background-color: white;
  border: 6px solid black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.best-movie-media {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.best-movie-media img {
  width: 100%;
  height: 240px;
  display: block;
  object-fit: cover;
}

.best-movie-details {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.best-movie-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.best-movie-info h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  color: black;
  margin: 0;
}

.best-movie-info p {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}

.details-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.details-button button {
  background-color: #FA0B0B;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 25px;
  padding: 12px 24px;
  margin: 8px;
  border: none;
  cursor: pointer;
}

.top-rated-grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 660px;
  gap: 20px;
  overflow: hidden;
}

.see-more {
  display: block;
  background-color: #FA0B0B;
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin: 16px auto;
  padding: 8px 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.movie-card {
  position: relative;
  height: 320px;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-overlay {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 16px;
  box-sizing: border-box;
}

.movie-overlay h3 {
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin: 0;
}

.movie-overlay button {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: #2D2C2C;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  cursor: pointer;
}

#genre-menu {
  display: inline-block;
  margin-left: 8px;
}

#genre-menu select {
  border: 1px solid black;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border: 6px solid black;
  padding: 16px;
  width: 90%;
  max-width: 900px;
  max-height: 90%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 24px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.close-button {
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.close-top {
  font-size: 32px;
  padding: 8px 0;
  background: none;
  display: block;
}

.close-bottom {
  background-color: #FA0B0B;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 25px;
  padding: 12px 24px;
  border: none;
  display:none;
}

.mobile-img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.desktop-img {
  display: none;
}

.movie-info h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  margin: 0;
}

.movie-info p {
  font-weight: 600;
  font-size: 24px;
  margin: 4px 0;
}

.directors-content {
  font-size: 24px;
  margin-top: 24px;
}

.directed-by-label {
  font-weight: 400;
  margin: 0;
}

.movie-directors {
  font-weight: 300;
  margin: 0;
}

.movie-description {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
}

.actors-content {
  font-size: 20px;
}

.with-label {
  font-weight: 400;
  margin: 0;
}

.movie-actors {
  font-weight: 300;
  margin: 0;
}

@media screen and (min-width: 481px) {
  header {
    justify-content: flex-start;
    gap: 32px;
  }

  header h1 {
    display: block;
  }

  h2 {
    text-align: left;
    font-size: 40px;
  }

  #best-movie {
    flex-direction: row;
  }

  .best-movie-media {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .best-movie-media img {
    height: auto;
    width: auto;
    min-width: 160px;
    object-fit: contain;
  }

  .best-movie-details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .best-movie-info {
    width: auto;
  }

  .best-movie-info h2 {
    font-size: 40px;
  }

  .best-movie-info p {
    font-size: 24px;
  }

  .details-button {
    margin-top: auto;
    justify-content: flex-end;
  }

  .details-button button {
    font-size: 20px;
  }

  .top-rated-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  h2 {
    font-size: 48px;
  }

  .best-movie-info h2 {
    font-size: 48px;
  }

  .best-movie-info p {
    font-size: 28px;
  }

  .details-button button {
    font-size: 24px;
  }

  .top-rated-grid {
    grid-template-columns: repeat(3, 1fr);
    height: auto;
  }

  .see-more {
    display: none;
  }

  .modal-header {
    height: 300px;
  }

  .close-top {
    display: none;
  }

  .close-bottom {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
    height: 100%;
  }
}
