@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Oswald', sans-serif;
}

header {
  width: 837px;
  height: 122px;
  background-color: #61787F;
  border: 1px solid black;
  padding: 16px 8px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  gap: 48px;
}

header img {
  width: 127px;
  height: 94px;
  object-fit: cover;
}

header h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  color: #FFFFFF;
  margin: 0;
}

section h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  color: black;
  width: 835px;
  margin: 32px auto 24px auto;
}

#best-movie {
  width: 835px;
  height: 369px;
  background-color: white;
  border: 6px solid black;
  margin: 16px auto;
  display: flex;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}

.best-movie-media {
  display: flex;
  align-items: center;
}

#best-movie img {
  width: 227px;
  height: 334px;
  object-fit: cover;
}

.best-movie-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  padding: 0 12px;
}

.best-movie-info h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  color: black;
  margin: 0 24px 24px 0;
}

.best-movie-info p {
  font-weight: 200;
  font-size: 28px;
  line-height: 100%;
  margin: 0 0 16px 0;
}

.best-movie-details {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.best-movie-details button {
  width: 166px;
  height: 68px;
  background-color: #FA0B0B;
  color: white;
  font-weight: 500;
  font-size: 24px;
  border-radius: 25px;
  padding: 2px 4px;
  cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal .modal-content {
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    max-width: 600px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

#modal .close-button {
    cursor: pointer;
}
